<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <div class="wrapper">
      <%- include('./partials/nav.ejs')%>
      <div class="main">
        <div class="main__inside">
          <div class="youtube">
            <div class="youtube__inside container">
              <!-- youtube music integration -->
              <h2 class="youtube__title">YouTube Music Integration</h2>

              <div class="youtube__search">
                <form
                  class="youtube__search"
                  action="/submit"
                  enctype="multipart/form-data"
                  method="get"
                >
                  <label class="youtube__label" for="searchInput"
                    >Search:</label
                  >
                  <input
                    type="text"
                    id="searchInput"
                    name="searchQuery"
                    placeholder="Enter your search query"
                    onkeydown="handlePressKey(event)"
                    value=""
                  />
                  <fieldset class="youtube__field">
                    <legend class="youtube__field-legend">
                      Select a category
                    </legend>

                    <div class="youtube__field-button">
                      <input
                        class="youtube__field-button-item"
                        type="radio"
                        id="videos"
                        name="category"
                        value="videos"
                        checked
                      />
                      <label for="video">videos</label>
                    </div>

                    <div class="youtube__field-button">
                      <input
                        class="youtube__field-button-item"
                        type="radio"
                        id="playlists"
                        name="category"
                        value="playlists"
                      />
                      <label for="playlists">playlists</label>
                    </div>

                    <div class="youtube__field-button">
                      <input
                        class="youtube__field-button-item"
                        type="radio"
                        id="albums"
                        name="category"
                        value="albums"
                      />
                      <label for="albums">albums</label>
                    </div>

                    <div class="youtube__field-button">
                      <input
                        class="youtube__field-button-item"
                        type="radio"
                        id="singers"
                        name="category"
                        value="singers"
                      />
                      <label for="singers">singers</label>
                    </div>
                  </fieldset>
                  <ul class="youtube__menu">
                    <li class="youtube-menu-item">
                      <button
                        id="search"
                        class="youtube__button header__button"
                        onclick=""
                        value="videos"
                        type="submit"
                      >
                        Search
                      </button>
                    </li>
                    <li class="youtube-menu-item">
                      <div
                        class="youtube__button header__button"
                        onclick="clearResults()"
                      >
                        Clear
                      </div>
                    </li>
                  </ul>
                </form>
              </div>
              <ul id="searchResults" class="youtube__search-results">
                <% if(searchResponce === 'albums') { %> 
                  <% if(resultsAlbums) { %> <% resultsAlbums.content.forEach((result) => { %>
                  <li>
                  <div class="youtube__image">
                    <img
                      class="youtube__image-item"
                      src="<%= result.thumbnails[3].url %>"
                      alt="<%= result.name %>"
                    />
                  </div>
                  <p class="youtube__title"><%= result.name %> - <%= result.artist %>. <%= result.year %></p>
                  <button
                    id="play"
                    class="youtube__button header__button play"
                    onclick="playAlbum('<%= result.playlistId %>')"
                  >
                    Play
                  </button>
                </li>
                <% }) %> <% } %> <% } %>
                <% if(searchResponce === 'videos') { %> 
                  <% if(resultsVideos.length) { %> <% resultsVideos.forEach((result) => { %>
                <li>
                  <div class="youtube__image">
                    <img
                      class="youtube__image-item"
                      src="<%= result.snippet.thumbnails.default.url %>"
                      alt="<%= result.snippet.title %>"
                    />
                  </div>
                  <p class="youtube__title"><%= result.snippet.title %></p>
                  <button
                    id="play"
                    class="youtube__button header__button play"
                    onclick="playVideo('<%= result.id.videoId %>')"
                  >
                    Play
                  </button>
                </li>
                <% }) %> <% } %> <% } %>
              </ul>

              <!-- Add the player container -->
              <div class="youtube__player" id="player"></div>

              <script>
                const apiKey = "AIzaSyD0zrKhAYAFKvmxCJepXCcsM-C81Q3zRyI";
                const apiUrl = "https://www.googleapis.com/youtube/v3/search";
                const playerContainer = document.getElementById("player");
                const searchResultsContainer = document.getElementById("searchResults");

                function clearResults() {
                  searchResultsContainer.innerHTML = "";
                  // searchResultsContainer.classList.toggle("hidden");
                }
                function playAlbum(albumId) {
                  window.location.href = `https://music.youtube.com/playlist?list=${albumId}`;
                }

                function playVideo(videoId) {
                  clearResults();
                  // Остальной код остается без изменений
                  const playerHtml = `
    <iframe id="youtubePlayer" class="youtube__player-item" src="https://www.youtube.com/embed/${videoId}" frameborder="0" allowfullscreen></iframe>
    <a class="youtube__button header__button" href="https://www.youtubezz.com/watch?v=${videoId}" target="_blank">Download (.mp3 320kbps|| edit & cut .mp3)</a>
  `;

                  playerContainer.innerHTML = playerHtml;

                  // Добавим событие 'onload' для iframe, чтобы начать воспроизведение после полной загрузки
                  const youtubePlayer =
                    document.getElementById("youtubePlayer");
                  youtubePlayer.onload = function () {
                    youtubePlayer.contentWindow.postMessage(
                      '{"event":"command","func":"playVideo","args":""}',
                      "*"
                    );
                  };
                }
              </script>
              <!-- youtube music integration end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
